In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the file Global skincare

DataSkincare= pd.read_csv('Global_skincare.csv', encoding='ISO-8859-1')
DataSkincare.head()

,Row ID,Order ID,Order Date,Customer ID,Segment,City,State,Country,Country latitude,Country longitude,Region,Market,Subcategory,Category,Product,Quantity,Sales,Discount,Profit
0,46682,IZ-2012-LW699061-40911,2020-01-03,LW-699061,Corporate,Mosul,Ninawa,Iraq,33.22,43.68,Western Asia,Asia Pacific,"bath oils, bubbles and soaks",Body care,Head & Shoulders Classic Clean Shampoo,20,600,0.0,300
1,10124,US-2012-BT1130518-40912,2020-01-04,BT-1130518,Self-Employed,Pilar,Alagoas,Brazil,-14.24,-51.93,South America,LATAM,"bath oils, bubbles and soaks",Body care,Kiehl's Ultra Facial Overnight Hydrating Masque,2,40,0.6,-4
2,9067,MX-2012-AW1093031-40912,2020-01-04,AW-1093031,Self-Employed,Santiago de Cuba,Santiago de Cuba,Cuba,21.52,-77.78,Caribbean,LATAM,"bath oils, bubbles and soaks",Body care,Golden Vine Bracelet,1,151,0.0,76
3,130,MX-2012-BT1130531-40912,2020-01-04,BT-1130531,Self-Employed,Manzanillo,Granma,Cuba,21.52,-77.78,Caribbean,LATAM,"bath oils, bubbles and soaks",Body care,Kiehl's Crème de Corps Smoothing Oil-to-Foam B...,4,40,0.0,20
4,24072,IN-2012-KM1666027-40914,2020-01-06,KM-1666027,Consumer,Huadian,Jilin,China,35.86,104.20,Eastern Asia,Asia Pacific,"bath oils, bubbles and soaks",Body care,NARS Single Eyeshadow Sophia Cool Brown,1,11,0.0,6

In [3]:
#checknanvalues
DataSkincareNull=DataSkincare.isna().sum()
DataSkincareNull

Row ID               0
Order ID             0
Order Date           0
Customer ID          0
Segment              0
City                 0
State                0
Country              0
Country latitude     0
Country longitude    0
Region               0
Market               0
Subcategory          0
Category             0
Product              0
Quantity             0
Sales                0
Discount             0
Profit               0
dtype: int64

In [4]:
# Convert 'date' column to datetime
DataSkincare['Order Date'] = pd.to_datetime(DataSkincare['Order Date'])

In [5]:
# checking the datatype for verification
DataSkincare.dtypes

Row ID                        int64
Order ID                     object
Order Date           datetime64[ns]
Customer ID                  object
Segment                      object
City                         object
State                        object
Country                      object
Country latitude            float64
Country longitude           float64
Region                       object
Market                       object
Subcategory                  object
Category                     object
Product                      object
Quantity                      int64
Sales                         int64
Discount                    float64
Profit                        int64
dtype: object

In [6]:
# drop 2 columns
NewDataSkincare=DataSkincare.drop(columns=['Country latitude', 'Country longitude'], inplace=True,axis=0,)

In [7]:
DataSkincare

,Row ID,Order ID,Order Date,Customer ID,Segment,City,State,Country,Region,Market,Subcategory,Category,Product,Quantity,Sales,Discount,Profit
0,46682,IZ-2012-LW699061-40911,2020-01-03,LW-699061,Corporate,Mosul,Ninawa,Iraq,Western Asia,Asia Pacific,"bath oils, bubbles and soaks",Body care,Head & Shoulders Classic Clean Shampoo,20,600,0.0,300
1,10124,US-2012-BT1130518-40912,2020-01-04,BT-1130518,Self-Employed,Pilar,Alagoas,Brazil,South America,LATAM,"bath oils, bubbles and soaks",Body care,Kiehl's Ultra Facial Overnight Hydrating Masque,2,40,0.6,-4
2,9067,MX-2012-AW1093031-40912,2020-01-04,AW-1093031,Self-Employed,Santiago de Cuba,Santiago de Cuba,Cuba,Caribbean,LATAM,"bath oils, bubbles and soaks",Body care,Golden Vine Bracelet,1,151,0.0,76
3,130,MX-2012-BT1130531-40912,2020-01-04,BT-1130531,Self-Employed,Manzanillo,Granma,Cuba,Caribbean,LATAM,"bath oils, bubbles and soaks",Body care,Kiehl's Crème de Corps Smoothing Oil-to-Foam B...,4,40,0.0,20
4,24072,IN-2012-KM1666027-40914,2020-01-06,KM-1666027,Consumer,Huadian,Jilin,China,Eastern Asia,Asia Pacific,"bath oils, bubbles and soaks",Body care,NARS Single Eyeshadow Sophia Cool Brown,1,11,0.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,27381,IN-2015-TB2125058-42367,2023-12-29,TB-2125058,Consumer,Kanpur,Uttar Pradesh,India,Southern Asia,Asia Pacific,Lipsticks,Make up,Orly Nail Lacquer Pink Chocolate Soft Brownish...,4,16,0.0,6
51286,50758,JO-2015-PT909067-42367,2023-12-29,PT-909067,Consumer,Amman,'Amman,Jordan,Western Asia,Asia Pacific,Lipsticks,Make up,Butter London Nail Lacquer Shag Metallic Copper,2,16,0.0,6
51287,19359,IT-2015-JC1577591-42368,2023-12-30,JC-1577591,Consumer,The Hague,South Holland,Netherlands,Western Europe,Europe,Lipsticks,Make up,Garden of Life B-Complex,2,40,0.5,-4
51288,9475,MX-2015-TC21535132-42369,2023-12-31,TC-21535132,Self-Employed,Chaguanas,Chaguanas,Trinidad and Tobago,Caribbean,LATAM,Lipsticks,Make up,The Body Shop Tea Tree Skin Clearing Body Wash,2,12,0.0,5
51289,31942,CA-2015-CC12430140-42369,2023-12-31,CC-124301402,Self-Employed,Columbus,Indiana,United States,Central US,USCA,Lipsticks,Make up,MAC Eyeshadow Star Violet Pinky Brown Plum,1,18,0.0,7

In [8]:
DataSkincare.to_csv('DataSkincare.csv',index=False)

In [9]:
#1.	What were the most profitable segments from 2020 to 2023
#Step 1: Filter the DataFrame for Profit > 0 and extract the year
t1 = DataSkincare[DataSkincare['Profit'] > 0].copy()
t1['year'] = t1['Order Date'].dt.year  # Ensure 'new_date' is in datetime format
t1 = t1[['Segment', 'Profit', 'year', 'Row ID']].sort_values(by='year')

# Step 2: Group by year and segment, and calculate max profit
t2 = (t1.groupby(['year', 'Segment'])
      .agg(profit=('Profit', 'max'))
      .reset_index())

# Step 3: Assign row numbers based on max profit within each year
t2['rn'] = t2.groupby('year')['profit'].rank(method='first', ascending=False)

# Step 4: Filter to get the rows where rn = 1
result1= t2[t2['rn'] <=3]

# Display the result
print(result1)

    year        Segment  profit   rn
0   2020       Consumer     707  2.0
1   2020      Corporate    1820  1.0
2   2020  Self-Employed     400  3.0
3   2021       Consumer     942  2.0
4   2021      Corporate    1746  1.0
5   2021  Self-Employed     294  3.0
6   2022       Consumer     693  2.0
7   2022      Corporate    1800  1.0
8   2022  Self-Employed     392  3.0
9   2023       Consumer     655  2.0
10  2023      Corporate    1490  1.0
11  2023  Self-Employed     304  3.0

In [10]:
result1.to_csv("profitableSegment.csv")

In [11]:
#3.	What were the most profitable markets since 2020
# Step 1: Create a new column for the year
DataSkincare['year'] = DataSkincare['Order Date'].dt.year  # Ensure 'new_date' is in datetime format

# Step 2: Assign row numbers based on Profit within each year
DataSkincare['rn'] = DataSkincare.sort_values('Profit', ascending=False) \
                          .groupby('year') \
                          .cumcount() + 1  # +1 to start counting from 1

# Step 3: Filter to get the rows where rn < 6
result = DataSkincare[DataSkincare['rn'] < 6]

# Select only the relevant columns
result3 = result[['Market', 'Profit', 'year', 'rn']]

# Display the result
print(result)

       Row ID                  Order ID Order Date   Customer ID    Segment  \
9057    32329  CA-2012-LA16780140-41100 2020-07-10  LA-167801406  Corporate
9528    11895   ES-2013-AG1049545-41431 2021-06-06    AG-1049545  Corporate
9537    25823   IN-2013-LA1678066-41433 2021-06-08    LA-1678066  Corporate
11809   12303   IT-2012-AH1007564-41069 2020-06-09    AH-1007564  Corporate
12531   11892   ES-2012-ON1871545-41270 2020-12-27    ON-1871545  Corporate
12781   51028     AL-2013-ML73952-41388 2021-04-24      ML-73952  Corporate
14386   31377  CA-2014-SC20770140-41803 2022-06-13  SC-207701408  Corporate
14619   29707   IN-2014-EH1376527-41855 2022-08-04    EH-1376527  Corporate
17452   32766  CA-2015-DK12835140-42348 2023-12-10  DK-128351402  Corporate
18718    4156   MX-2013-YS2188093-41566 2021-10-19    YS-2188093  Corporate
19905   27413   IN-2014-SP2054558-42003 2022-12-30    SP-2054558  Corporate
22485   13632  ES-2014-KB16240120-41696 2022-02-26   KB-16240120  Corporate
42512   11115   ES-2012-AR1082564-41041 2020-05-12    AR-1082564  Corporate
42828   16977   ES-2012-GH1448545-41174 2020-09-22    GH-1448545  Corporate
44567   18202   ES-2014-LW1699048-41794 2022-06-04    LW-1699048  Corporate
46205    9350   MX-2015-ND1846082-42207 2023-07-22    ND-1846082  Corporate
46390    3127   MX-2015-DH1307593-42244 2023-08-28    DH-1307593  Corporate
47696    3259   MX-2013-ND1846093-41433 2021-06-08    ND-1846093  Corporate
49515   34399  CA-2015-JG15310140-42361 2023-12-23  JG-153101406  Corporate
50971   37988  US-2015-LS17200140-42217 2023-08-01  LS-172001402  Corporate

             City                              State        Country  \
9057   Hackensack                         New Jersey  United States
9528   Guyancourt                      Ile-de-France         France
9537     Fujisawa                           Kanagawa          Japan
11809     Aprilia                              Lazio          Italy
12531  Argenteuil                      Ile-de-France         France
12781       Vlore                              Vlorë        Albania
14386     Decatur                            Alabama  United States
14619       Yibin                            Sichuan          China
17452     Detroit                           Michigan  United States
18718     Managua                            Managua      Nicaragua
19905       Surat                            Gujarat          India
22485      Madrid                             Madrid          Spain
42512     Messina                             Sicily          Italy
42828      Verdun  Alsace-Champagne-Ardenne-Lorraine         France
44567   Magdeburg                      Saxony-Anhalt        Germany
46205    Campeche                           Campeche         Mexico
46390     Managua                            Managua      Nicaragua
47696     Managua                            Managua      Nicaragua
49515  Providence                       Rhode Island  United States
50971   Milwaukee                          Wisconsin  United States

                Region        Market                 Subcategory   Category  \
9057        Eastern US          USCA                 hand creams  Body care
9528    Western Europe        Europe                 hand creams  Body care
9537      Eastern Asia  Asia Pacific                 hand creams  Body care
11809  Southern Europe        Europe          Nail care products  Body care
12531   Western Europe        Europe          Nail care products  Body care
12781  Southern Europe        Europe          Nail care products  Body care
14386      Southern US          USCA          Nail care products  Body care
14619     Eastern Asia  Asia Pacific          Nail care products  Body care
17452       Central US          USCA          Nail care products  Body care
18718  Central America         LATAM    vitamins and supplements  Body care
19905    Southern Asia  Asia Pacific    vitamins and supplements  Body care
22485  Southern Europe        Europe  face moisturizing products  Face care
42512  Southern Europe        Europe     Eye shadows and pencils    Make up
42828   Western Europe        Europe     Eye shadows and pencils    Make up
44567   Western Europe        Europe     Eye shadows and pencils    Make up
46205  Central America         LATAM     Eye shadows and pencils    Make up
46390  Central America         LATAM     Eye shadows and pencils    Make up
47696  Central America         LATAM  foundations and concealers    Make up
49515       Eastern US          USCA  foundations and concealers    Make up
50971       Central US          USCA                   Lipsticks    Make up

                           Product  Quantity  Sales  Discount  Profit  year  \
9057         Rose Gold Petal Studs        18   2826       0.0    1413  2020
9528         Silver Gleam Necklace        17   3281       0.0    1641  2021
9537        Sterling Wave Earrings        16   2880       0.0    1440  2021
11809   Golden Grace Stud Earrings        15   2940       0.0    1470  2020
12531     Sterling Solstice Anklet        20   3440       0.0    1720  2020
12781    Silver Enchantment Anklet        18   2610       0.0    1305  2021
14386      Sterling Frost Earrings        15   2550       0.0    1275  2022
14619        Sterling Crown Anklet        17   3111       0.0    1556  2022
17452  Rose Gold Starburst Pendant        16   2720       0.0    1088  2023
18718        Rose Gold Petal Studs        20   3140       0.0    1570  2021
19905      Sterling Frost Earrings        19   3230       0.0    1615  2022
22485       Emerald Starburst Ring        17   2737       0.0    1369  2022
42512        Golden Blaze Necklace        17   3281       0.0    1641  2020
42828      Silver Feather Necklace        20   3640       0.0    1820  2020
44567       Sterling Wave Earrings        20   3600       0.0    1800  2022
46205   Golden Grace Stud Earrings        19   3724       0.0    1490  2023
46390      Gold Luxe Drop Earrings        20   2880       0.0    1152  2023
47696       Emerald Crown Necklace        18   3492       0.0    1746  2021
49515         Sterling Veil Anklet        17   2788       0.0    1115  2023
50971        Golden Blaze Necklace        17   3281       0.0    1312  2023

       rn
9057    5
9528    2
9537    4
11809   4
12531   2
12781   5
14386   5
14619   3
17452   5
18718   3
19905   2
22485   4
42512   3
42828   1
44567   1
46205   1
46390   3
47696   1
49515   4
50971   2

In [12]:
result3.to_csv("profitablemarkets.csv")

In [13]:
# 4.	What were the best seller products since 2020
# Step 1: Filter the DataFrame for discount = 0 and create a new column for the year
filtered_skincare =DataSkincare[DataSkincare['Discount'] == 0].copy()
filtered_skincare['year'] = filtered_skincare['Order Date'].dt.year  # Ensure 'new_date' is in datetime format

# Step 2: Assign row numbers based on Quantity and Profit within each year
filtered_skincare['rn'] = (filtered_skincare
                           .sort_values(['Quantity', 'Profit'], ascending=[False, False])
                           .groupby('year')
                           .cumcount() + 1)  # +1 to start counting from 1

# Step 3: Filter to get the rows where rn < 2
result = filtered_skincare[filtered_skincare['rn'] < 2]

# Select only the relevant columns
result2 = result[['Product', 'Quantity', 'Profit', 'year', 'rn', 'Discount']]

print(result2)

                       Product  Quantity  Profit  year  rn  Discount
18718    Rose Gold Petal Studs        20    1570  2021   1       0.0
42828  Silver Feather Necklace        20    1820  2020   1       0.0
44567   Sterling Wave Earrings        20    1800  2022   1       0.0
46390  Gold Luxe Drop Earrings        20    1152  2023   1       0.0

In [14]:
result2.to_csv("bestsellerproduct.csv")

In [15]:
#5.	Following above, can we also view the best seller categories and subcategories?


# Step 1: Filter the DataFrame for discount = 0 and create a new column for the year
filtered_skincare = DataSkincare[DataSkincare['Discount'] == 0].copy()
filtered_skincare['year'] = filtered_skincare['Order Date'].dt.year  # Ensure 'new_date' is in datetime format

# Step 2: Assign row numbers based on Quantity and Profit within each year
filtered_skincare['rn'] = (filtered_skincare
                           .sort_values(['Quantity', 'Profit'], ascending=[False, False])
                           .groupby('year')
                           .cumcount() + 1)  # +1 to start counting from 1

# Step 3: Filter to get the rows where rn < 2
result = filtered_skincare[filtered_skincare['rn'] < 2]

# Select only the relevant columns
result4 = result[['Product', 'Quantity', 'Profit', 'year', 'rn', 'Discount', 'Category', 'Subcategory']]

# Display the result
print(result4)

                       Product  Quantity  Profit  year  rn  Discount  \
18718    Rose Gold Petal Studs        20    1570  2021   1       0.0
42828  Silver Feather Necklace        20    1820  2020   1       0.0
44567   Sterling Wave Earrings        20    1800  2022   1       0.0
46390  Gold Luxe Drop Earrings        20    1152  2023   1       0.0

        Category               Subcategory
18718  Body care  vitamins and supplements
42828    Make up   Eye shadows and pencils
44567    Make up   Eye shadows and pencils
46390    Make up   Eye shadows and pencils

In [16]:
result4.to_csv("bestcategory.csv")

In [17]:
# 9.	Can we list top 10 customers who spent most from each country every year?

# Assuming you have a DataFrame 'skincare' with columns: 'Customer ID', 'quantity', 'country', 'new_date', 'Sales'

# Step 1: Extract necessary columns and create 'year' column


# Step 1: Convert 'Order Date' to datetime and extract the year
DataSkincare['year'] = pd.to_datetime(DataSkincare['Order Date']).dt.year

# Step 2: Filter rows where Profit is greater than 0
DataSkincare = DataSkincare[DataSkincare['Profit'] > 0].copy()

# Step 3: Create 'rn1' with row number over partition by 'Country' and ordered by 'Sales'
DataSkincare['rn1'] = DataSkincare.sort_values(['Country', 'Sales'], ascending=[True, False])\
                                  .groupby('Country')\
                                  .cumcount() + 1

# Step 4: Filter where rn1 <= 1 to get top sales per country (t2)
t2 = DataSkincare[DataSkincare['rn1'] <= 1].copy()

# Step 5: Create 'rn2' with row number over partition by 'year' and ordered by 'Sales'
t2['rn2'] = t2.sort_values(['year', 'Sales'], ascending=[True, False])\
               .groupby('year')\
               .cumcount() + 1

# Step 6: Filter where rn2 <= 10 to get top 10 sales per year (t3)
t3 = t2[t2['rn2'] <= 10]

# Display the final result
print(t3)

       Row ID                  Order ID Order Date   Customer ID    Segment  \
319       198   US-2012-TB2135598-41241 2020-11-28    TB-2135598  Corporate
823     41740    GH-2013-KN645049-41593 2021-11-15     KN-645049  Corporate
1135    49556   SF-2014-KE6420117-41801 2022-06-11    KE-6420117  Corporate
2566     9654   MX-2012-EB1397551-41112 2020-07-22    EB-1397551  Corporate
4745    43901    PL-2015-AG495103-42300 2023-10-23     AG-495103  Corporate
7598    40671  CA-2014-KB16600140-41796 2022-06-06  KB-166001404  Corporate
8450    42602   TO-2015-DM3345131-42224 2023-08-08    DM-3345131  Corporate
9537    25823   IN-2013-LA1678066-41433 2021-06-08    LA-1678066  Corporate
9794    46275     MZ-2013-AG30087-41591 2021-11-13      AG-30087  Corporate
10970   48800    EZ-2015-JC610532-42197 2023-07-12     JC-610532  Corporate
11825   44490   RO-2012-GM4695107-41074 2020-06-14    GM-4695107  Corporate
12781   51028     AL-2013-ML73952-41388 2021-04-24      ML-73952  Corporate
14619   29707   IN-2014-EH1376527-41855 2022-08-04    EH-1376527  Corporate
14760   25842  ID-2014-SP20620102-41879 2022-08-28   SP-20620102  Corporate
19905   27413   IN-2014-SP2054558-42003 2022-12-30    SP-2054558  Corporate
20016   45836   SG-2015-JM5655111-42059 2023-02-24    JM-5655111  Corporate
21272    4872  US-2012-VB21745143-41086 2020-06-26   VB-21745143  Corporate
22485   13632  ES-2014-KB16240120-41696 2022-02-26   KB-16240120  Corporate
23611   44725    CM-2015-MH762022-42124 2023-04-30     MH-762022  Corporate
23837   41481    BU-2015-DP310519-42193 2023-07-08     DP-310519  Corporate
25498   23803    IN-2013-AS102257-41517 2021-08-31     AS-102257  Corporate
26174    7667   MX-2014-HE1480018-41845 2022-07-25    HE-1480018  Corporate
27006   48672   CA-2015-TH1111523-42173 2023-06-18    TH-1111523  Corporate
27687   23134   IN-2015-SP2062011-42364 2023-12-26    SP-2062011  Corporate
29048    7156   MX-2013-FW1439528-41455 2021-06-30    FW-1439528  Corporate
30282   12979  ES-2014-AO10810139-41846 2022-07-26   AO-10810139  Corporate
34063   42437    CG-2014-DM295533-41719 2022-03-21     DM-295533  Corporate
36781   16847   ES-2013-MC1760548-41471 2021-07-16    MC-1760548  Corporate
39390   20102    ES-2012-MY182958-41160 2020-09-08     MY-182958  Corporate
42512   11115   ES-2012-AR1082564-41041 2020-05-12    AR-1082564  Corporate
42828   16977   ES-2012-GH1448545-41174 2020-09-22    GH-1448545  Corporate
42904    5404   MX-2012-AO1081026-41203 2020-10-21    AO-1081026  Corporate
42981   21749   ID-2012-MS1798059-41234 2020-11-21    MS-1798059  Corporate
43674   45121   TZ-2013-EM3810129-41514 2021-08-28    EM-3810129  Corporate
45209    7311   MX-2014-DK1315031-41948 2022-11-05    DK-1315031  Corporate
46205    9350   MX-2015-ND1846082-42207 2023-07-22    ND-1846082  Corporate
47188    2323   MX-2012-JD1589539-40997 2020-03-29    JD-1589539  Corporate
47696    3259   MX-2013-ND1846093-41433 2021-06-08    ND-1846093  Corporate
49225   43971    IR-2015-NG835560-42266 2023-09-19     NG-835560  Corporate
50112   30668   ID-2013-BS1159092-41548 2021-10-01    BS-1159092  Corporate

                City                              State         Country  \
319      Panama City                             Panama          Panama
823           Kumasi                            Ashanti           Ghana
1135         Tembisa                            Gauteng    South Africa
2566   Villa Canales                          Guatemala       Guatemala
4745   Bielsko-Biala                            Silesia          Poland
7598         Seattle                         Washington   United States
8450            Lome                           Maritime            Togo
9537        Fujisawa                           Kanagawa           Japan
9794          Matola                             Maputo      Mozambique
10970          Plzen                              Plzen  Czech Republic
11825           Iasi                               Iasi         Romania
12781          Vlore                              Vlorë         Albania
14619          Yibin                            Sichuan           China
14760          Pasig                   National Capital     Philippines
19905          Surat                            Gujarat           India
20016          Dakar                              Dakar         Senegal
21272      Maracaibo                              Zulia       Venezuela
22485         Madrid                             Madrid           Spain
23611         Garoua                               Nord        Cameroon
23837          Varna                              Varna        Bulgaria
25498          Perth                  Western Australia       Australia
26174      São Paulo                          São Paulo          Brazil
27006  Saint-Laurent                             Quebec          Canada
27687          Dhaka                              Dhaka      Bangladesh
29048     Valledupar                              Cesar        Colombia
30282      Leicester                            England  United Kingdom
34063         Bukavu                         South Kivu     Congo [DRC]
36781        Leipzig                             Saxony         Germany
39390      Innsbruck                              Tyrol         Austria
42512        Messina                             Sicily           Italy
42828         Verdun  Alsace-Champagne-Ardenne-Lorraine          France
42904       Santiago                           Santiago           Chile
42981         Bekasi                         Jawa Barat       Indonesia
43674  Dar es Salaam                      Dar Es Salaam        Tanzania
45209   Nueva Gerona                Isla de la Juventud            Cuba
46205       Campeche                           Campeche          Mexico
47188       Ilopango                       San Salvador     El Salvador
47696        Managua                            Managua       Nicaragua
49225   Bandar Abbas                          Hormozgan            Iran
50112       Auckland                           Auckland     New Zealand

                  Region        Market  ...              Category  \
319      Central America         LATAM  ...             Body care
823       Western Africa        Africa  ...             Body care
1135     Southern Africa        Africa  ...             Body care
2566     Central America         LATAM  ...             Body care
4745      Eastern Europe        Europe  ...             Body care
7598          Western US          USCA  ...             Body care
8450      Western Africa        Africa  ...             Body care
9537        Eastern Asia  Asia Pacific  ...             Body care
9794      Eastern Africa        Africa  ...             Body care
10970     Eastern Europe        Europe  ...             Body care
11825     Eastern Europe        Europe  ...             Body care
12781    Southern Europe        Europe  ...             Body care
14619       Eastern Asia  Asia Pacific  ...             Body care
14760  Southeastern Asia  Asia Pacific  ...             Body care
19905      Southern Asia  Asia Pacific  ...             Body care
20016     Western Africa        Africa  ...             Body care
21272      South America         LATAM  ...             Face care
22485    Southern Europe        Europe  ...             Face care
23611     Central Africa        Africa  ...             Face care
23837     Eastern Europe        Europe  ...             Face care
25498            Oceania  Asia Pacific  ...             Hair care
26174      South America         LATAM  ...             Hair care
27006             Canada          USCA  ...             Hair care
27687      Southern Asia  Asia Pacific  ...             Hair care
29048      South America         LATAM  ...             Hair care
30282    Northern Europe        Europe  ...             Hair care
34063     Central Africa        Africa  ...  Home and Accessories
36781     Western Europe        Europe  ...  Home and Accessories
39390     Western Europe        Europe  ...  Home and Accessories
42512    Southern Europe        Europe  ...               Make up
42828     Western Europe        Europe  ...               Make up
42904      South America         LATAM  ...               Make up
42981  Southeastern Asia  Asia Pacific  ...               Make up
43674     Eastern Africa        Africa  ...               Make up
45209          Caribbean         LATAM  ...               Make up
46205    Central America         LATAM  ...               Make up
47188    Central America         LATAM  ...               Make up
47696    Central America         LATAM  ...               Make up
49225      Southern Asia  Asia Pacific  ...               Make up
50112            Oceania  Asia Pacific  ...               Make up

                          Product Quantity  Sales  Discount  Profit  year  \
319           Silver Moon Pendant       20   2160      0.40     216  2020
823         Silver Frost Bracelet        9   1368      0.00     684  2021
1135      Golden Feather Earrings       13   2483      0.00    1242  2022
2566       Silver Mirage Necklace       20   1860      0.00     186  2020
4745              Ruby Blaze Ring       15   2310      0.00     231  2023
7598      Golden Feather Earrings       20   3820      0.00     382  2022
8450    Gold Lustre Hoop Earrings       13   1612      0.00     161  2023
9537       Sterling Wave Earrings       16   2880      0.00    1440  2021
9794         Golden Echo Necklace       20   1800      0.00     900  2021
10970          Prada Man in Black       17   1717      0.00     687  2023
11825        Gold Radiance Bangle        9   1665      0.00     833  2020
12781   Silver Enchantment Anklet       18   2610      0.00    1305  2021
14619       Sterling Crown Anklet       17   3111      0.00    1556  2022
14760     Rose Gold Orbit Pendant       19   2299      0.15     805  2022
19905     Sterling Frost Earrings       19   3230      0.00    1615  2022
20016    Golden Crescent Necklace       10   1700      0.00     680  2023
21272   Gold Enchantment Bracelet       20   3220      0.40     322  2020
22485      Emerald Starburst Ring       17   2737      0.00    1369  2022
23611         Sterling Frost Ring        9   1746      0.00     698  2023
23837    Silver Radiance Earrings       14   2240      0.00     896  2023
25498     Sterling Frost Earrings       19   3230      0.10     162  2021
26174        Golden Halo Earrings       17   2533      0.00     380  2022
27006     Silver Whisper Necklace       20   2860      0.00     429  2023
27687     Silver Whisper Necklace       18   2574      0.00     386  2023
29048   Sterling Whisper Bracelet       19   3173      0.00     476  2021
30282         Ruby Flame Earrings       13   2496      0.00     374  2022
34063     Rose Gold Twilight Ring       15   2850      0.00     285  2022
36781       Ruby Whisper Bracelet       20   3940      0.00     394  2021
39390     Silver Whisper Earrings       10   2000      0.00     200  2020
42512       Golden Blaze Necklace       17   3281      0.00    1641  2020
42828     Silver Feather Necklace       20   3640      0.00    1820  2020
42904            Gucci Light Blue       16   1904      0.00     952  2020
42981     Silver Glimmer Necklace       19   3724      0.27     857  2020
43674   Sapphire Solstice Pendant       10   1380      0.00     690  2021
45209        Gold Spectrum Anklet       16   2512      0.00    1256  2022
46205  Golden Grace Stud Earrings       19   3724      0.00    1490  2023
47188      Emerald Crown Necklace       14   2716      0.00    1358  2020
47696      Emerald Crown Necklace       18   3492      0.00    1746  2021
49225           Gold Odyssey Ring       18   2142      0.00     857  2023
50112      Sterling Echo Earrings       17   2516      0.40     252  2021

        rn  rn1  rn2
319    192    1    6
823     30    1   10
1135     8    1    9
2566   245    1    9
4745   220    1    4
7598    84    1    1
8450   409    1   10
9537     4    1    5
9794    17    1    8
10970   24    1    8
11825   20    1   10
12781    5    1    6
14619    3    1    3
14760   20    1   10
19905    2    1    2
20016   27    1    9
21272   96    1    4
22485    4    1    5
23611   22    1    7
23837   12    1    5
25498  376    1    3
26174   85    1    6
27006   67    1    2
27687   76    1    3
29048   58    1    4
30282   93    1    8
34063  187    1    4
36781   81    1    1
39390  212    1    7
42512    3    1    3
42828    1    1    2
42904   16    1    8
42981   18    1    1
43674   28    1    9
45209    6    1    7
46205    1    1    1
47188    6    1    5
47696    1    1    2
49225   13    1    6
50112  179    1    7

[40 rows x 21 columns]

In [21]:
t3.to_csv("10costumers.csv")

In [19]:
# 10.	Which countries contributed most profits to each category?
# Sample DataFrame (replace this with your actual DataFrame)
# DataSkincare = pd.read_csv('path_to_your_data.csv')

# Step 1: Group by Country and Category to find the maximum profit
max_profit_by_country_category = DataSkincare.groupby(['Country', 'Category'], as_index=False).agg({'Profit': 'max'})

# Step 2: Find the maximum profit for each category and the corresponding country
max_profit_per_category = max_profit_by_country_category.loc[max_profit_by_country_category.groupby('Category')['Profit'].idxmax()]

# Step 3: Rename the column for clarity
max_profit_per_category.rename(columns={'Profit': 'max_profit'}, inplace=True)

# Print the final result
print(max_profit_per_category)

      Country              Category  max_profit
199    France             Body care        1720
504     Spain             Face care        1369
128  Colombia             Hair care         476
219   Germany  Home and Accessories         394
203    France               Make up        1820

In [20]:
max_profit_per_category.to_csv("max_profit_per_category.csv")